In [11]:
my_tuple = (1,2,3,4)
print(my_tuple [1:3])

(2, 3)

In [23]:
my_tuple = (1,2,3,4)
print (m_tuple)

NameError: name 'm_tuple' is not defined

In [14]:
image_size =(1280,1000)

In [20]:
w, h = image_size

In [26]:
my_set = {1,2,3,4}
print(my_set)

{1, 2, 3, 4}

In [34]:
A = {1,2,3,4}
B = {3,4,5,6}
set3 = A.union(B)
print (set3)

{1, 2, 3, 4, 5, 6}

In [37]:
set4 =A.intersection(B)
print (set4)

{3, 4}

In [38]:
set5 = A.difference(B)
print (set5)

{1, 2}

In [41]:
set6 = A.symmetric_difference(B)
print (set6)

{1, 2, 5, 6}

In [44]:
my_list = [ "a", "p", "p", "e", "l", "e"]
my_set = set(my_list)
print (my_set)

{'a', 'p', 'e', 'l'}

In [46]:
a=5
b=0
print (bool(a))

True

In [47]:
print (bool(b))

False

In [54]:
x= -10
if x>0:
    print ("x is positive")
print (f"Given number is {x}")

Given number is -10

In [55]:
x= 10
if x>0:
    print ("x is positive")
print (f"Given number is {x}")

x is positive
Given number is 10

In [56]:
x= 5
y= 7

if x>6:
    print ("x is even")
print (f"given number is odd")

given number is odd

In [66]:
x= 5

if x%2==0:
    print ("even")
    
else:
    print ("odd")

odd

In [67]:
x= 12

if x%2==0:
    print ("even")
    
else:
    print ("odd")

even

In [76]:
x = 60
if x >= 80:
    print ("Grade A")
elif x >= 60 and x<80:
    print ("Grade B")
elif x >= 40 and x<=60:
    print ("Grade C")
else:
    print ("Grade D")

Grade B

In [83]:
n= 50

s = 0
for i in range(n+1):
     s = s + i
     
print(s)

1275